{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<h2>Toutes les vidéos</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
<div>client name - <!----></div>
    {% for client in clients %}
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <a href="{{ path('app_client', {'id': client.client_id }) }}">
                    <img src="{{ client.logo_url }}" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">client name - {{ client.name }}</h5>
                    <div>client active - {{ client.active }}</div>
                    <div>client mail - {{ client.client_mail }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<!-- Ajouter un client-->
    <div class="mb-5 mt-5" id="addvideo">
        <h2>Ajouter un client</h2>
        {{ form(form) }}
    </div>
{% endblock %}
