<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		{% block stylesheets %}
            <link rel="stylesheet" href="/css/styles.css">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="d-flex justify-content-center" ><a class="navbar-brand" href="{{ path('app_client') }}">Client/Partener</a></div>
            <div class="d-flex justify-content-center"><a class="navbar-brand" href="{{ path('app_salle') }}">Salle de sport</a></div>
            <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_client') }}">Tous les clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_client') }}#addclient">Ajouter un client</a>
                    </li>
                </ul>
            </div>
		</div>


        {% block body %}{% endblock %}
		{% block javascripts %}
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
           

            <script>
                const selectElement1 = document.querySelector('.clientsname');

                selectElement1.addEventListener('change', (event1) => {
                    const result1 = document.querySelector('.result1');
                    var listObj = document.getElementById("clientname-list");
                    var datalist = document.getElementById(listObj.getAttribute("list"));
                    //document.write('precedent page - ' + location.href + "{{ path('app_client') }}");
                    //location.href = document.referrer + 'client/' + event1.target.value;
                    location.href = event1.target.value;;
                    
                });
                const selectElement2 = document.querySelector('.clientsid');

                selectElement2.addEventListener('change', (event2) => {
                    const result2 = document.querySelector('.result2');
                    location.href = event2.target.value;
                });
                const selectElement3 = document.querySelector('.client_active_search');

                selectElement3.addEventListener('change', (event3) => {
                    var res;
                    const result3 = document.querySelector('.result1');
                    //location.href = event2.target.value;
                    //location.href = document.referrer;
                    res = (event3.target.value).slice(0, -2) + event3.target.checked;

                    location.href =  res;
                });
            </script>
        {% endblock %}
    </body>
</html>
